.body {
  display: flex;
  flex-direction: column;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 30px;
  font-family: "Noto Sans JP", sans-serif;
}

.photo {
  text-align: center;
  width: 440px;
  height: 500px;
}

.icon_contact {
  width: 50px;
  display: flex;
  flex-direction: column;
}

.contact {
  width: 500px;
  display: flex;
  flex-direction: row;
  padding: 0px 60px;
}

img {
  margin: 10px 10px 0px 10px;
}

.cv {
  margin: 0px 70px;
  font-size: 30px;
  line-height: 250%;
  text-align: center;
}

.heading2 {
  font-weight: bold;
}

.header {
  display: flex;
}

.text {
  padding: 0px 10px;
}

.p_contact {
  margin-top: 20px;
}

.p_contact1 {
  margin-top: 12px;
}
